.parc_list {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.parc_item {
    filter: saturate(0);
}

.parc_item:hover {
    filter: saturate(1);
}